<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link rel="stylesheet" type="text/css" href="songr.css">
</head>
<body>

<form action="/albums" method="POST">
    <h2>Add A New Album</h2>
     Title: <input type="text" name="albumName">
     Artist: <input type="text" name="artist">
     Song Count: <input type="number" name="songCount">
     Length: <input type="number" name="length">
     Image: <input type="text" name="imageUrl">
    <input type="submit">
</form>


<form action="/song" method="POST">
    <h2>Add A Song To An Album</h2>
    Title: <input type="text" name="title">
    Album: <input type="text" name="album">
    Length: <input type="number" name="length">
    Track Number: <input type="number" name="trackNumber">
    <input type="submit" value="Add Song">
</form>



<h2>Albums</h2>
<ul>
    <li th:each="album:${albumList}">
    <p th:text="${album}"></p>
        <img th:src="${album.imageUrl}">
        <a th:href="'/albums/' + ${album.id}">[[${album.title}]] Details</a>

        <form th:action="'/albums/delete/' +${album.id}" method="POST">
            <button>Delete This Album</button>
        </form>
    </li>
</ul>

</body>
</html>

